/* Background */

html {
  height: 1024px;
  width: 1440px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom right, #0000aa 0%, #df0052 65%, #ff0026 100%);
}

/* Logo */

.logo {
  float: left;
  position: relative;
  display: inline-flex;
  height: 71px;
  width: 71px;
}

/* Navigation */

.nav a {
  color: #ffffff;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 7px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  text-decoration: none;
}

.nav ul {
  display: block;
  float: right;
  margin: -30px 100 0 450px;
}

.nav li {
  display: inline-block;
  padding: 14px 14px;
  text-align: right;
}

a:link {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
}

.dropdown {
  visibility: hidden;
}

/* Phone Navigation */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    height: 811.53px;
    width: 375.3px;
    background-repeat: no-repeat;
  }
  .nav {
    visibility: hidden;
  }
  .logo {
    float: none;
  }
  .dropdown {
    visibility: visible;
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    color: #ffffff;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 7px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    text-decoration: none;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

/* Gradient Circles */

.gradient3 {
  position: absolute;
  margin-top: 10px;
  margin-left: 192px;
}

.gradient2 {
  position: absolute;
  margin-top: -226px;
  margin-left: 261px;
  z-index: -1;
}

/* Intro */

.smallportrait {
  visibility: hidden;
}

body {
  font-family: 'San Francisco Display Light', sans-serif;
  font-size: 19px;
  line-height: 1.7;
  font-weight: 100;
  color: #ffffff;
  margin-left: 107px;
  margin-top: 67px;
  float: left;
}

.bigfont {
  font-size: 28px;
  font-style: italic;
  font-weight: bolder;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 55px;
  padding-top: 197px;
}

/* New rules if the window width is smaller than 767px */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 15px;
    font-weight: 100;
    margin-left: 44px;
  }
  .bigfont {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
  }
  h1 {
    text-align: left;
    margin-top: -4em;
  }
  .gradient2 {
    visibility: hidden;
  }
  .gradient3 {
    visibility: hidden;
  }
  .smallportrait {
    visibility: visible;
  }
  .selfportrait {
    visibility: hidden;
  }
}

/* SparkSpace */

#section1 {
  width: 1440px;
  height: 551px;
  margin-left: -110px;
}

.section-phone-sparkspace {
  visibility: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .section-sparkspace {
    visibility: hidden;
  }
  .section-phone-sparkspace {
    visibility: visible;
  }
}

/* Art Gallery */

.section-phone-art {
  visibility: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .section-art {
    visibility: hidden;
  }
  .section-phone-art {
    visibility: visible;
  }
}

/* Footer */

.footer-gradient {
  height: 190px;
  width: 1435px;
  background: linear-gradient(to bottom right, #b70042 0%, #570046 65%, #1f0040 100%);
  border-radius: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer-gradient {
    height: 75.54px;
    width: 375.3px;
  }
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
